<div class="navbar navbar-expand-md navbar-light bg-light justify-content-center navnotas">
	<span class="navbar-brand text-dark">
		Notas
	</span>
</div>

<div>
	<ul>
		{{#each notes}}
		<br>
		<li>
			{{this.title}}<br>
			{{this.body}}<br>
			{{this.category_id}}<br>
			{{this.created_at}}<br>
			{{this.updated_at}}<br>
			{{this.tags}}
		</li>
		{{/each}}
	</ul>
</div>

<hr>