<div>
	<h4>{{note.dataValues.title}}</h4>
	<p>
	{{note.dataValues.body}}
	<hr />
	
	<b>Categoria:</b> {{ note.category.dataValues.name }}  <br>

	<b>Criado em:</b> {{ dateFormat note.dataValues.createdAt "DD/MM/YYYY HH:mm:ss" }}<br>
	<b>Atualizado em:</b> {{ dateFormat note.dataValues.updatedAt "DD/MM/YYYY HH:mm:ss"}}<br>
	<b>Etiquetas: </b> 
	{{#each note.tags ~}}
	{{#compare @index '!==' 0}},&nbsp;{{/compare ~}}
	{{ this.dataValues.name ~}}
	{{/each ~}}
	<br />
	</p>
</div>
{{#if simple}}
<a href="/{{note.dataValues.id}}" class="btn btn-success">Ver mais</a>
{{else}}
<a
	href="/{{note.dataValues.id}}/"
	class="btn btn-danger"
	onclick="return deleteNote()"
>
	Delete
</a>
{{/if}}
<a href="/{{note.dataValues.id}}/edit" class="btn btn-warning">Editar</a>
<form method="post" action="/{{note.id}}/delete" id="form-delete" class="d-none">
	<input type="hidden" name="action" value="delete" />
</form>

<script>
const deleteNote = () => {
	if (event) {


		event.preventDefault();
	}

	const noteJs = {
		title: "{{note.title}}",
		id: "{{note.id}}",
	};

	if (confirm(`Deseja deletar a nota ${noteJs.title}?`)) {
		document.querySelector('#form-delete').submit();
	} else {
		return false;
	}
};
</script>

